*~
*.class
*.log
*.pyc
project/*.lock

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Intellij
.idea/
.idea_modules/
out/
*.iml

#Sublime text
*.sublime-project
*.sublime-workspace

#Mac
.DS_Store
